/*ICON*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*COMFORTAA*/

@font-face {
        font-family:Comfortaa;
        src:url("../resources/fonts/Comfortaa/Comfortaa.ttf") format("truetype");
        font-weight:300 700;
        fontstyle:normal;
    }

    @font-face {
        font-family:Comfortaa;
        src:url("../resources/fonts/Comfortaa/Comfortaa.ttf") format("truetype");
        font-weight:bold;
        font-style:bold;
    }


/*OPENSANS*/

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansLight.ttf") format("truetype");
    font-weight:300;
    font-style:normal;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansLightItalic.ttf") format("truetype");
    font-weight:300;
    font-style:italic;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansRegular.ttf") format("truetype");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansItalic.ttf") format("truetype");
    font-weight:400;
    font-style:italic;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansSemiBold.ttf") format("truetype");
    font-weight:600;
    font-style:normal;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-weight:600;
    font-style:italic;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansBold.ttf") format("truetype");
    font-weight:700;
    font-style:bold;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansBoldItalic.ttf") format("truetype");
    font-weight:700;
    font-style:italic;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansExtraBold.ttf") format("truetype");
    font-weight:800;
    font-style:bold;
}

@font-face {
    font-family:'Open Sans';
    src:url("../resources/fonts/OpenSans/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-weight:800;
    font-style:italic;
}







