     <div class="left-menu">
            <h5 class="nav-header">HUNG VUONG CONFESSION</h5>
        </div>

        <div class="center-menu">
            <div class="nav-menu" id="home">
                    <a href="./index.html"><i class="material-icons nav-icon">home</i></a>
            </div>
            <!--DISABLED
            <div class="nav-menu">
                    <i class="material-icons nav-icon">notifications</i>
            </div>
            <div class="nav-menu">
                    <i class="material-icons nav-icon">account_circle</i>
            </div>
        -->
            <div class="nav-menu" id="dating">
                    <a href="./dating.html"><i class="material-icons nav-icon">dashboard</i></a>
            </div>
            
        </div>

        <div class="right-menu">
            <div class="search-box">
                <i class="material-icons search-icon">search</i>
                <input id="search-box" placeholder="Search"/>
            </div>
        </div>

        <!--NAV BAR CHECK SCRIPTS-->